body {
    margin: 0;
    font-family: 'Smythe';
    font-style: normal;
    font-weight: 400;
     color: #FFFFFF; 
   
} 

main{
    margin: 0 auto;
    width: 600px;
    height: 1161px;
    background: #FFFFFF;
    border: 1px black solid;
    position: relative;
}

header{
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 560px; 
    height: 167px;
    background: url('./burger.jpg');
}

h1{
    font-size: 39px;
    line-height: 24px;
    /* identical to box height, or 62% */
    text-align: left;
    margin-bottom: 0;
}

p{
    font-size: 22.4216px;
    line-height: 14px;
    /* or 62% */
}

#menue-items{
    width: 508px;
    margin-bottom: 10px;
}

.total-price{
    color: black;
}
.menue-item{
    margin: 0 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 508px;
    height: 140px;
    color: black;
}

.img{
width: 70px;
height: 89px;
margin-right: 40px;
font-family: 'Inter';
//font-style: normal;
//font-weight: 400;
font-size: 78.72px;
line-height: 98px;
/* or 125% */
text-align: center;
letter-spacing: -0.02em;
border: none;
color: #000000;
opacity: 0.72;
}

h3,h4,h6{
    margin: 10px;
}

h2{
    color: black;
    text-align: left;
}

.btn{
    margin-left: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #DEDEDE;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
}

#order{
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 508px;
    color: black;
    display: flex;
}

#black{
    color: black;
}
.order-section{
    display: none;
    flex-direction: column;
    
}
.order-details{
  margin-bottom: auto;
}

.order-details h2{
    text-align: center;
}

.bill{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
     width: 508px;
}

.bill-name{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bill-name h6{
    font-family: 'Verdana';
//font-style: normal;
//font-weight: 400;
font-size: 12px;
line-height: 24px;
/* or 200% */
color: #BBBBBB;
}

.bill-name h6:hover{
    color: black;
}

.order-total{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 508px;     
}

.order-total h2{
    margin-left: 8px;
}

.order-btn{
display: flex;
justify-content: center;
align-items: center;
margin:50px auto;
width: 508px;
height: 60px;
background: #16DB99;
/* shadow/sm */
color: white;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 3px;
border: none;
}

.payment{
position: absolute;
display: none;
flex-direction: column;
justify-content: center;
align-items: center;
gap:10px;
margin: 0 auto;
background: #FFFFFF;
border-radius: 3.88991px;
width: 524px;
height: 542px;
left: 38px;
top: 292px;
filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
}

.payment input{
 margin: 10px 20px;
 padding: 5px;
 width: 475.91px;
 height: 71.3px;
}

.payment h2{
font-family: 'Verdana';
//font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
/* or 130% */
color: #000000;
}

.pay-btn {    
margin: 10px auto;
display: flex;
justify-content: center;
align-items: center;
width: 490px;
height: 80px;
border: none;
background: #16DB99;
border-radius: 3.88991px;
color: white;
}

.complete-order{
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.order-sent{
display: none;
justify-content: center;
align-items: center;
position: absolute;
width: 504px;
height: 120px;
left: 50px;
top: 900px;
background: #ECFDF5;
border-radius: 3px;
}


.hide{
    display:none;
}

.show{
display: flex;
}


#hide{
    display:none;
}